$grid-columns: 16;
$enable-gradients: true;

$indigo:    #6610f2;
$purple:    #563d7c;
$pink:      #e83e8c;
$orange:    #fd7e14;
$yellow:    #ffc107;
$green:     #28a745;
$teal:      #20c997;
$white:     #fff;
$gray-300:  #dee2e6;
$black:     #000;
$green:     #28a745;

$custom-control-indicator-checked-bg: $green;

$theme-colors: (
        "indigo": $indigo,
        "purple": $purple,
        "pink": $pink,
        "orange": $orange,
        "teal": $teal,
        "white": $white,
        "black": $black,
        "gray-300": $gray-300
);

@import "node_modules/bootstrap/scss/bootstrap.scss";

button {
  min-width: 130px !important;
}

html {
  height:100%
}
/*
*
* CSS Pattern by Lea Verou
* https://leaverou.github.io/css3patterns/
*
*/
body {
  background:
          radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0,
          radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0,
          radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px,
          radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px,
          radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px,
          radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0,
          linear-gradient(45deg, #343702 0%, #184500 20%, #187546 30%, #006782 40%, #0b1284 50%, #760ea1 60%, #83096e 70%, #840b2a 80%, #b13e12 90%, #e27412 100%);
  background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
  background-color: #840b2a;
  background-attachment: fixed;
}